.distanciamento {
    padding-left: 100px;
    padding-right: 100px;
}

.btn-add-servicos{

    background-color: var(--contrast-color);
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    float: right;
    margin-right: 100px;
    border-radius: 5px 5px 5px 5px;
    color: rgb(255, 255, 255);
    

}

#finalizado-label{
    margin-top: 8px;
    margin-left: 14px;
}

#finalizado-input{
    margin-right: 950px;
}

.protocolo-link {
    color: #353535;
}

.table {
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.485);
}