.distanciamento {
    padding-left: 100px;
    padding-right: 100px;
}

.btn-add-servicos{

    background-color: var(--contrast-color);
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    float: right;
    margin-right: 100px;
    color: aliceblue;
    

}

#finalizado-label{
    margin-top: 8px;
    margin-left: 14px;
}

#finalizado-input{
    margin-right: 950px;
}

.protocolo-link {
    color: #7c97f0;
}