{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">
    <link rel="stylesheet" href="{% static 'servicos/css/listar_servico.css' %}">
{% endblock %}

{% block 'dashboard' %}
    <br>
    <br>
    <div class="container-fluid distanciamento">
        <div>
            <a class="btn-add-servicos" href="{% url 'novo_servico' %}">+ Novo Serviço</a>
            <br>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Protocolo</th>
                        <th scope="col">Serviço</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Status</th>
                        <th scope="col">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for servico in servicos %}
                        <tr>
                            <th><a class="protocolo-link" href="{% url 'servico' servico.identificador %}">{{servico.protocolo}}</a></th>
                            <td>{{servico.servico}}</td>
                            <td>{{servico.cliente}}</td>
                            <td>
                                {% if servico.finalizado %}
                                    <span class="badge badge-success">Finalizado</span>
                                {% else %}
                                    <span class="badge badge-danger">Pendente</span>
                                {% endif %}
                            </td>
                            <td>R${{servico.preco}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}