{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">
    <link rel="stylesheet" href="{% static 'servicos/css/listar_servico.css' %}">
{% endblock %}

{% block 'dashboard' %}
    <br>
    <br>
    <div class="container">
        <form action="{% url 'atualizar_servico' identificador %}" method="POST">{% csrf_token %}
            <div>
                <p>Serviço:</p>
                {{form.servico}}
                <br>
                <p>Cliente:</p>
                {{form.cliente}}
                <br>
            </div>
            <div class="row">
                <div class="col-md">
                    <p>Data de Início:</p>
                    {{form.data_inicio}}
                </div>
                <div class="col-md">
                    <p>Data de Entrega:</p>
                    {{form.data_entrega}}
                </div>
                <div class="col-md">
                    <p>Valor:</p>
                    {{form.preco}}
                </div>
            </div>
            <br>
            <div>
                <p>Descrição:</p>
                {{form.descricao}}
            </div>
            <br>
            <div>
                <p>Protocolo:</p>
                {{form.protocolo}}
            </div>
            <br>
            <div class="row">
                <div id="finalizado-label" class="col-md">
                    <p>Finalizado:</p>
                </div>
                <div id="finalizado-input" class="col-md">
                    {{form.finalizado}}
                </div>
            </div>
            <br>
            <div id="save-back" class="row">
                <div>
                    <input id="save-btn" type="submit" value="Salvar Informações" class="btn btn-success">
                </div>
                <div>
                    <a href="{% url 'gerar_pdf' identificador %}" id="back-btn" type="button" class="btn btn-danger">Gerar PDF</a>
                </div>
                <div>
                    <a href="{% url 'servicos' %}" id="back-btn" type="button" class="btn btn-primary">Voltar</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}