.card-dashboard{

    background-color: var(--main-color);
    width: 50%;
    margin-left: 10px;
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    cursor: pointer;

}

.text-card{

    font-size: 25px;

}

.btn-add-aparelhos{

    background-color: var(--contrast-color);
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    color: rgb(255, 255, 255);

}

.btn-principal{
    color:white;
    border: none;
    background-color: var(--dark-color);
    padding: 5px;
    font-size: 30px;
}

#back-btn {
    margin-left: 18px;
}

#save-back{
    float: right;
}