.distanciamento {
    padding-left: 100px;
    padding-right: 100px;
}

.actions {
    cursor: pointer;
}

.btn-add-clientes{

    background-color: var(--contrast-color);
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    float: right;
    margin-right: 100px;
    border-radius: 5px 5px 5px 5px;
    color: rgb(255, 255, 255);
    

}

.table {
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.485);


.material-icons{
    cursor: pointer;
}

#back-btn{
    margin-left: 18px;
}

#save-back{
    float: right;
}

.delete {
    color: #f0485b;;
}

.edit {
    color: #7c97f0;
}
