.distanciamento {
    padding-left: 100px;
    padding-right: 100px;
}

.actions {
    cursor: pointer;
}

.btn-add-clientes{

    background-color: var(--contrast-color);
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    float: right;
    margin-right: 100px;
    color: aliceblue;
    

}

.material-icons{
    cursor: pointer;
}

#back-btn{
    margin-left: 18px;
}

#save-back{
    float: right;
}

.delete {
    color: #f0485b;;
}

.edit {
    color: #7c97f0;
}
