{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">
    <link rel="stylesheet" href="{% static 'clientes/css/lista_clientes.css' %}">
{% endblock %}

{% block 'dashboard' %}
    <br>
    <br>
    <div class="container">
        <div id="att_cliente">  
            <form action="{% url 'atualizar_cliente' id %}" method="POST">{% csrf_token %}
                <input type="hidden" id="id" value="{{id}}">
                <p>Nome Completo:</p>
                <input id="nome_completo" type="text" class='form-control' name="nome_completo" value="{{nome_completo}}">
                <br>
                <p>E-mail:</p>
                <input id="email" type="text" class='form-control' name="email" value="{{email}}">
                <br>
                <p>CPF:</p>
                <input id="cpf" type="text" class='form-control' name="cpf" value="{{cpf}}">
                <br>
                <hr style="background-color: gray;">
                <h3>Aparelhos</h3>
                <br>
                <span class="btn-add-aparelhos" onclick="add_aparelho()">+ Adicionar um aparelho</span>
                <div id="form-aparelho">
                    <br>
                    {% for aparelho in aparelhos %}
                        <div class="row">
                            <div class="col-md">
                                <input type='text' class='form-control' name='aparelho' value="{{aparelho.aparelho}}">
                            </div>

                            <div class="col-md">
                                <input type='text' class='form-control' name='modelo' value="{{aparelho.modelo}}">
                            </div>

                            <div class="col-md">
                                <input type='number' class='form-control' name='codigo' value="{{aparelho.codigo}}" readonly="readonly">
                            </div>
                            <span onclick="deletar_aparelho(this)" value="{{aparelho.id}}" class="delete" title="Excluir" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></span>
                        </div>
                        <br>
                    {% endfor %}
                </div>
                <br>
                <input type="submit" value="Salvar Informações" class="btn btn-success">   
            </form>
        </div>       
    </div>
    
    <script src="{% static 'clientes/js/clientes.js' %}"></script>
{% endblock %}