{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">
    <link rel="stylesheet" href="{% static 'clientes/css/lista_clientes.css' %}">
{% endblock %}

{% block 'dashboard' %}
    <br>
    <br>
    <div class="container-fluid distanciamento">
        <form action="{% url 'clientes_filtro' %}" method="GET">
            <input type="text" name="cpf" value="{{ request.GET.cpf}}" class="p-1 border" autocomplete="off" placeholder="CPF">
            <button type="submit" class="btn btn-info">Buscar</button>
            <a href="{% url 'clientes' %}" class="btn btn-light">Limpar Filtro</a>
        </form>
        <div>
            <a class="btn-add-clientes" href="{% url 'novo_cliente' %}">+ Novo Cliente</a>
            <br>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">CPF</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <input id="cliente-select" type="hidden" value="{{cliente.id}}">
                        <td>{{cliente.nome_completo}}</td>
                        <td>{{cliente.email}}</td>
                        <td>{{cliente.cpf}}</td>
                        <td class="actions">
                            <a href="{% url 'atualizar_cliente' cliente.id %}" class="edit" title="Editar" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a onclick="deletar_cliente(this)" class="delete" id="id_cliente" value="{{cliente.id}}" title="Excluir" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



    
    <script src="{% static 'clientes/js/clientes.js' %}"></script>
{% endblock %}